{
  "inbounds": [
    {
      "tag": "socks-in",
      "protocol": "socks",
      "settings": { "udp": true },
      "listen": "127.0.0.1",
      "port": {{data.mySocksProxyPort}}
    },
    {
      "tag": "http-in",
      "protocol": "http",
      "listen": "127.0.0.1",
      "port": {{data.myHttpProxyPort}}
    }
  ]
}
