<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
<fontconfig>
  <match target="pattern">
    <test name="family">
      <string>sans-serif</string>
    </test>
    <edit name="family" mode="prepend" binding="strong">
      <string>{{ .font.sansSerif }}</string>
      <string>Noto Color Emoji</string>
      <string>Symbols Nerd Font Mono</string>
    </edit>
  </match>
  <match target="pattern">
    <test name="family">
      <string>serif</string>
    </test>
    <edit name="family" mode="prepend" binding="strong">
      <string>{{ .font.serif }}</string>
      <string>Noto Color Emoji</string>
      <string>Symbols Nerd Font Mono</string>
    </edit>
  </match>
  <match target="pattern">
    <test name="family">
      <string>system-ui</string>
    </test>
    <edit name="family" mode="prepend" binding="strong">
      <string>{{ .font.sansSerif }}</string>
      <string>Noto Color Emoji</string>
      <string>Symbols Nerd Font Mono</string>
    </edit>
  </match>
  <match target="pattern">
    <test name="family">
      <string>monospace</string>
    </test>
    <edit name="family" mode="prepend" binding="strong">
      <string>{{ .font.monospace }}</string>
      <string>{{ .font.sansSerif }}</string>
      <string>Noto Color Emoji</string>
      <string>Symbols Nerd Font Mono</string>
    </edit>
  </match>
  <!-- FIXME: See https://github.com/alacritty/alacritty/issues/8615 -->
  <selectfont>
    <rejectfont>
      <glob>/usr/share/fonts/google-noto-color-emoji-fonts/*</glob>
      <glob>/usr/share/fonts/google-noto-emoji-fonts/*</glob>
    </rejectfont>
  </selectfont>
</fontconfig>
