<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
<fontconfig>
  <!-- See https://github.com/davgar99/arch-linux-font-improvement-guide -->
  <match target="font">
    <edit name="antialias" mode="assign">
      <bool>true</bool>
    </edit>
    <edit name="hinting" mode="assign">
      <bool>true</bool>
    </edit>
    <edit name="rgba" mode="assign">
      <const>rgb</const>
    </edit>
    <edit name="hintstyle" mode="assign">
      <const>hintslight</const>
    </edit>
    <edit name="lcdfilter" mode="assign">
      <const>lcddefault</const>
    </edit>
  </match>
  <match target="pattern">
    <test name="family">
      <string>serif</string>
    </test>
    <edit name="family" mode="prepend" binding="strong">
      <string>{{ .font.serif }}</string>
      <string>Noto Sans</string>
      <string>Noto Color Emoji</string>
      <string>Noto Emoji</string>
      <string>Symbols Nerd Font</string>
    </edit>
  </match>
  <match target="pattern">
    <test name="family">
      <string>sans-serif</string>
    </test>
    <edit name="family" mode="prepend" binding="strong">
      <string>{{ .font.sansSerif }}</string>
      <string>Noto Serif</string>
      <string>Noto Color Emoji</string>
      <string>Noto Emoji</string>
      <string>Symbols Nerd Font</string>
    </edit>
  </match>
  <match target="pattern">
    <test name="family">
      <string>system-ui</string>
    </test>
    <edit name="family" mode="prepend" binding="strong">
      <string>{{ .font.sansSerif }}</string>
      <string>Noto Sans</string>
      <string>Noto Color Emoji</string>
      <string>Noto Emoji</string>
      <string>Symbols Nerd Font</string>
    </edit>
  </match>
  <match target="pattern">
    <test name="family">
      <string>monospace</string>
    </test>
    <edit name="family" mode="prepend" binding="strong">
      <string>{{ .font.monospace }}</string>
      <string>{{ .font.sansSerif }}</string>
      <string>Noto Color Emoji</string>
      <string>Noto Emoji</string>
      <string>Symbols Nerd Font</string>
    </edit>
  </match>
  <match target="pattern">
    <test name="family">
      <string>ui-monospace</string>
    </test>
    <edit name="family" mode="prepend" binding="strong">
      <string>Noto Sans Mono</string>
      <string>{{ .font.sansSerif }}</string>
      <string>Noto Color Emoji</string>
      <string>Noto Emoji</string>
      <string>Symbols Nerd Font</string>
    </edit>
  </match>
  <!-- FIXME: See https://github.com/alacritty/alacritty/issues/8615 -->
  <selectfont>
    <rejectfont>
      <glob>/usr/share/fonts/google-noto-color-emoji-fonts/*</glob>
      <glob>/usr/share/fonts/google-noto-emoji-fonts/*</glob>
    </rejectfont>
  </selectfont>
</fontconfig>
