# Network
sync_address = "{{ .atuinSyncAddress }}"
update_check = false

# Appearance
inline_height = 15
style = "compact"
history_format = "{time} {command}"

# Filters
history_filter = ["^;.*"]

# Misc
enter_accept = false
