# sync
sync_address = "{{ .atuin.address }}"
update_check = false
sync.records = true

# ui/ux
enter_accept = false
history_format = "{time} {command}"
inline_height = 15
style = "compact"

# search
search_mode = "skim"

# filter
filter_mode = "host"
history_filter = ["^;.*"]
secrets_filter = true
store_failed = true

