# Sync
sync_address = "{{ .atuin.address }}"
update_check = false
sync.records = true

# UI/UX
enter_accept = false
history_format = "{time} {command}"
inline_height = 15
style = "compact"

# Search
search_mode = "skim"

# Filter
filter_mode = "global"
history_filter = ["^;.*"]
secrets_filter = true
store_failed = true

