## File system
.DS_Store
desktop.ini

## Editor
*.iml
*.swo
*.swp
.cproject
.favorites.json
.idea
.project
.settings
.vs
.vscode
Session.vim

## Evn files
.direnv
.envrc

## Logs
*.log

## Private data
*_private.*
.chezmoidata.*
/private
fish_variables

## Misc
foo.*

## Nix
flake.lock
result

## Node.js
node_modules
