# vim:ft=toml

[colors.primary]
background = "{{.colors.base00}}"
foreground = "{{.colors.base05}}"

[colors.cursor]
text = "{{.colors.base00}}"
cursor = "{{.colors.base05}}"

[colors.vi_mode_cursor]
text = "{{.colors.base00}}"
cursor = "{{.colors.base05}}"

[colors.selection]
text = "{{.colors.base07}}"
background = "{{.colors.base01}}"

[colors.normal]
black = "{{.colors.base02}}"
red = "{{.colors.base08}}"
green = "{{.colors.base0B}}"
yellow = "{{.colors.base0A}}"
blue = "{{.colors.base0D}}"
magenta = "{{.colors.base0E}}"
cyan = "{{.colors.base0C}}"
white = "{{.colors.base06}}"

[colors.bright]
black = "{{.colors.bright.base02}}"
red = "{{.colors.bright.base08}}"
green = "{{.colors.bright.base0B}}"
yellow = "{{.colors.bright.base0A}}"
blue = "{{.colors.bright.base0D}}"
magenta = "{{.colors.bright.base0E}}"
cyan = "{{.colors.bright.base0C}}"
white = "{{.colors.bright.base06}}"

[colors.dim]
black = "{{.colors.dim.base02}}"
red = "{{.colors.dim.base08}}"
green = "{{.colors.dim.base0B}}"
yellow = "{{.colors.dim.base0A}}"
blue = "{{.colors.dim.base0D}}"
magenta = "{{.colors.dim.base0E}}"
cyan = "{{.colors.dim.base0C}}"
white = "{{.colors.dim.base06}}"
