port: 8080
socks-port: 8079
mode: rule
external-controller: localhost:9090
profile:
  store-selected: true
proxy-providers:
  subscription:
    type: http
    url: {{.clashSubscription}}
    path: ./subscription.yaml
    interval: 36000
proxy-groups:
  - name: auto
    type: load-balance
    use:
      - subscription
    interval: 600
    url: http://www.gstatic.com/generate_204
rules:
  - GEOIP,CN,DIRECT
  - MATCH,auto
