[colors]
# Basic colors
# TODO: migrate to 1.23
#cursor = {{.colors.base00|trimPrefix "#"}} {{.colors.base05|trimPrefix "#"}}

background = {{.colors.base00|trimPrefix "#"}}
foreground = {{.colors.base05|trimPrefix "#"}}
selection-foreground = {{.colors.base07|trimPrefix "#"}}
selection-background = {{.colors.base01|trimPrefix "#"}}

# ANSI colors
# normal
regular0 = {{.colors.base02|trimPrefix "#"}}
regular1 = {{.colors.base08|trimPrefix "#"}}
regular2 = {{.colors.base0B|trimPrefix "#"}}
regular3 = {{.colors.base0A|trimPrefix "#"}}
regular4 = {{.colors.base0D|trimPrefix "#"}}
regular5 = {{.colors.base0E|trimPrefix "#"}}
regular6 = {{.colors.base0C|trimPrefix "#"}}
regular7 = {{.colors.base06|trimPrefix "#"}}

# bright
bright0 = {{.colors.bright.base02|trimPrefix "#"}}
bright1 = {{.colors.bright.base08|trimPrefix "#"}}
bright2 = {{.colors.bright.base0B|trimPrefix "#"}}
bright3 = {{.colors.bright.base0A|trimPrefix "#"}}
bright4 = {{.colors.bright.base0D|trimPrefix "#"}}
bright5 = {{.colors.bright.base0E|trimPrefix "#"}}
bright6 = {{.colors.bright.base0C|trimPrefix "#"}}
bright7 = {{.colors.bright.base06|trimPrefix "#"}}

# dim
dim0 = {{.colors.dim.base02|trimPrefix "#"}}
dim1 = {{.colors.dim.base08|trimPrefix "#"}}
dim2 = {{.colors.dim.base0B|trimPrefix "#"}}
dim3 = {{.colors.dim.base0A|trimPrefix "#"}}
dim4 = {{.colors.dim.base0D|trimPrefix "#"}}
dim5 = {{.colors.dim.base0E|trimPrefix "#"}}
dim6 = {{.colors.dim.base0C|trimPrefix "#"}}
dim7 = {{.colors.dim.base06|trimPrefix "#"}}

# vim:ft=ini
