[colors]
# Basic colors
cursor = {{.colors.base00|trimPrefix "#"}} {{.colors.base05|trimPrefix "#"}}

background = {{.colors.base00|trimPrefix "#"}}
foreground = {{.colors.base05|trimPrefix "#"}}
selection-foreground = {{.colors.base07|trimPrefix "#"}}
selection-background = {{.colors.base01|trimPrefix "#"}}

# ANSI colors
# normal
regular0 = {{.colors.base02|trimPrefix "#"}}
regular1 = {{.colors.base08|trimPrefix "#"}}
regular2 = {{.colors.base0B|trimPrefix "#"}}
regular3 = {{.colors.base0A|trimPrefix "#"}}
regular4 = {{.colors.base0D|trimPrefix "#"}}
regular5 = {{.colors.base0E|trimPrefix "#"}}
regular6 = {{.colors.base0C|trimPrefix "#"}}
regular7 = {{.colors.base05|trimPrefix "#"}}

# bright
bright0 = {{.colors.base03|trimPrefix "#"}}
bright1 = {{.colors.bright.base08|trimPrefix "#"}}
bright2 = {{.colors.bright.base0B|trimPrefix "#"}}
bright3 = {{.colors.bright.base0A|trimPrefix "#"}}
bright4 = {{.colors.bright.base0D|trimPrefix "#"}}
bright5 = {{.colors.bright.base0E|trimPrefix "#"}}
bright6 = {{.colors.bright.base0C|trimPrefix "#"}}
bright7 = {{.colors.base07|trimPrefix "#"}}

# vim:ft=ini
