shell = tmux new -As main

font = monospace:size={{.font.monospaceSize}}
pad = 2x2
resize-by-cells = no
include = ~/.config/foot/colors.ini

[cursor]
style = block
blink = yes
blink-rate = 500

[mouse]
hide-when-typing = yes

[csd]
preferred = none

[scrollback]
# Scroll buffers ared handled by tmux
lines = 0

[security]
osc52 = copy-enabled

# vim:ft=ini
