notARepository: prompt
gui:
  nerdFontsVersion: "3"
  border: rounded
  showRootItemInFileTree: false
  theme:
    selectedLineBgColor: ["black"]
    inactiveBorderColor: ["black"]
git:
  overrideGpg: true
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
  commit:
    autoWrapCommitMessage: true
    autoWrapWidth: 72
  truncateCopiedCommitHashesTo: 7
  autoFetch: false
  log:
    showGraph: when-maximised
os:
  copyToClipboardCmd: printf '%s' {{text}} | sed 's/\\\(.\)/\1/g' | tmuxcpy -w
  readFromClipboardCmd: tmuxpst
keybinding:
  universal:
    toggleRangeSelect: V
  commits:
    cherryPickCopy: c
    pasteCommits: v
customCommands:
  - key: C
    command: cz
    description: commit with commitizen
    context: files
    loadingText: opening commitizen
    output: terminal
