[init]
	defaultBranch = main
[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ .signingkey }}
[tag]
	forceSignAnnotated = true
[commit]
	gpgsign = true
[http]
	proxy = socks5://127.0.0.1:{{ .proxy.port }}
[https]
	proxy = socks5://127.0.0.1:{{ .proxy.port }}
[pull]
	rebase = true
[push]
	followTags = true
[delta]
  syntax-theme = ansi
