[init]
	defaultBranch = main

# Personal info
[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ .signingkey }}
[tag]
	forceSignAnnotated = true
[commit]
	gpgsign = true

# Network
[http]
	proxy = socks5h://127.0.0.1:{{ .proxy.socksPort }}
[https]
	proxy = socks5h://127.0.0.1:{{ .proxy.socksPort }}

# Remote
[pull]
	rebase = true

# Appearance
[include]
	path = ~/.config/git/catppuccin.gitconfig

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[delta]
	features = catppuccin-frappe
	syntax-theme = catppuccin
	navigate = true
