{
  "version": 2,
  "flakes": [
    {
      "from": {
        "id": "my",
        "type": "indirect"
      },
      "to": {
        "path": "{{ .home }}/.config/nixpkgs",
        "type": "path"
      }
    }
  ]
}
