# Adapted from <https://git.lix.systems/lix-project/lix-installer/src/commit/12a8592afe0cd5f29e20f03ba2fd433ca5354004/src/action/common/place_nix_configuration.rs>

#{{ if eq .platform "termux" }}
auto-optimise-store = false
sandbox = false
#{{ else }}
auto-optimise-store = true
sandbox = true
#{{ end }}

always-allow-substitutes = true
bash-prompt-prefix = (nix:$name)\040
extra-experimental-features = nix-command flakes
extra-nix-path = nixpkgs=flake:nixpkgs
max-jobs = auto
