# Adapted from <https://github.com/NixOS/nix-installer/blob/e9082fe6538d66c858d2541473287af9e6c9f236/src/action/common/place_nix_configuration.rs>

#{{ if eq .platform "termux" }}
auto-optimise-store = false
sandbox = false
#{{ else }}
auto-optimise-store = true
sandbox = true
#{{ end }}

always-allow-substitutes = true
bash-prompt-prefix = (nix:$name)\040
extra-experimental-features = nix-command flakes
extra-nix-path = nixpkgs=flake:nixpkgs
max-jobs = auto
