set -g MY_HTTP_PROXY_ADDR 127.0.0.1:{{ .proxy.http }}
set -g MY_SOCKS_PROXY_ADDR 127.0.0.1:{{ .proxy.socks }}

set -g MY_HTTP_PROXY http://$MY_HTTP_PROXY_ADDR
set -g MY_SOCKS_PROXY socks5://$MY_SOCKS_PROXY_ADDR
