# vim:ft=tmux

set -g @base00 "{{.colors.base00}}"
set -g @base01 "{{.colors.base01}}"
set -g @base02 "{{.colors.base02}}"
set -g @base03 "{{.colors.base03}}"
set -g @base04 "{{.colors.base04}}"

set -g @base05 "{{.colors.base05}}"
set -g @base06 "{{.colors.base06}}"
set -g @base07 "{{.colors.base07}}"

set -g @base08 "{{.colors.base08}}"
set -g @base09 "{{.colors.base09}}"
set -g @base0A "{{.colors.base0A}}"
set -g @base0B "{{.colors.base0B}}"
set -g @base0C "{{.colors.base0C}}"
set -g @base0D "{{.colors.base0D}}"
set -g @base0E "{{.colors.base0E}}"
set -g @base0F "{{.colors.base0F}}"
