.paperwm-selection {
  background-color: transparent;
  border-width: 3px;
  /* https://gnome.pages.gitlab.gnome.org/libadwaita/doc/main/css-variables.html#accent-colors */
  border-color: rgba(145, 65, 172, 0.35);
}

.paperwm-window-position-bar {
  border: 0;
  background-color: rgba(145, 65, 172, 0.35);
}
