.paperwm-selection {
  background-color: transparent;
  border-width: 10px;
  border-color: rgba(53, 132, 228, 0.35);
}

.paperwm-window-position-bar {
  border: 0;
  background-color: rgba(53, 132, 228, 0.35);
}
