#----------------
#-- Appearance --
#----------------

[org/gnome/desktop/wm/preferences]
button-layout='appmenu:close'
num-workspaces=6
titlebar-font='Sans Bold 11'

[org/gnome/desktop/interface]
accent-color='purple'
clock-format='12h'
cursor-blink=true
cursor-blink-time=500
document-font-name='Sans 11'
font-name='Sans 11'
monospace-font-name='Monospace 10'
# Theme
color-scheme='prefer-dark'
cursor-theme='Adwaita'
gtk-key-theme='Default'
gtk-theme='Adwaita'
icon-theme='Adwaita'

[org/gnome/desktop/sound]
theme-name='freedesktop'

#-----------
#-- Proxy --
#-----------

[system/proxy]
#mode='none'
mode='manual'

{{ if .proxy.enabled }}
[system/proxy/http]
host='127.0.0.1'
port={{ .proxy.httpPort }}

[system/proxy/https]
host='127.0.0.1'
port={{ .proxy.httpPort }}

[system/proxy/ftp]
host='127.0.0.1'
port={{ .proxy.httpPort }}

[system/proxy/socks]
host='127.0.0.1'
port={{ .proxy.socksPort }}
{{ end }}

#-----------
#-- Input --
#-----------

[org/gnome/desktop/input-sources]
show-all-sources=true
sources=[('xkb', 'us'), ('ibus', 'rime')]
xkb-options=['ctrl:nocaps', 'caps:ctrl_modifier']

[org/gnome/desktop/peripherals/keyboard]
remember-numlock-state=true

[org/gnome/desktop/peripherals/mouse]
natural-scroll=false

[org/gnome/desktop/peripherals/touchpad]
disable-while-typing=true
tap-to-click=true
two-finger-scrolling-enabled=true

#----------------
#-- Extensions --
#----------------

[org/gnome/shell/extensions/appindicator]
legacy-tray-enabled=true
tray-pos='right'

[org/gnome/shell/extensions/blur-my-shell]
settings-version=2

[org/gnome/shell/extensions/blur-my-shell/applications]
blur=true
blur-on-overview=false
brightness=0.73
dynamic-opacity=false
opacity=231
sigma=13
whitelist=['Alacritty', 'foot', 'kitty', 'org.wezfurlong.wezterm']

[org/gnome/shell/extensions/blur-my-shell/coverflow-alt-tab]
blur=false

[org/gnome/shell/extensions/blur-my-shell/dash-to-dock]
blur=false

[org/gnome/shell/extensions/blur-my-shell/lockscreen]
blur=true

[org/gnome/shell/extensions/blur-my-shell/overview]
blur=true

[org/gnome/shell/extensions/blur-my-shell/panel]
blur=false

[org/gnome/shell/extensions/blur-my-shell/screenshot]
blur=true

[org/gnome/shell/extensions/blur-my-shell/window-list]
blur=false

[org/gnome/shell/extensions/caffeine]
restore-state=true
toggle-state=true
user-enabled=true

[org/gnome/shell/extensions/clipboard-history]
clear-history=@as []
disable-down-arrow=true
display-mode=2
next-entry=['<Super>bracketright']
notify-on-copy=false
paste-on-selection=false
prev-entry=['<Super>bracketleft']
process-primary-selection=false
strip-text=true
toggle-menu=@as []
toggle-private-mode=['<Super>apostrophe']
topbar-preview-size=15
window-width-percentage=25

[org/gnome/shell/extensions/paperwm]
cycle-height-steps=[0.35, 0.5, 0.65]
cycle-width-steps=[0.35, 0.5, 0.65]
horizontal-margin=10
open-window-position=0
selection-border-radius-bottom=3
selection-border-radius-top=3
selection-border-size=10
show-window-position-bar=true
show-workspace-indicator=false
vertical-margin=5
vertical-margin-bottom=5
window-gap=10
winprops=@as []

[org/gnome/shell/extensions/switcher]
activate-by-key=uint32 2
fade-enable=false
font-size=uint32 16
icon-size=uint32 16
matching=uint32 1
max-width-percentage=uint32 60
on-active-display=true
only-current-workspace=false
ordering=uint32 1
show-executables=false
show-original-names=false
show-switcher=['<Super>f']
workspace-indicator=false

[org/gnome/shell/extensions/vitals]
fixed-widths=true
hide-icons=false
hide-zeros=false
icon-style=1
menu-centered=false
position-in-panel=1

#--------------
#-- Nautilus --
#--------------

[org/gnome/nautilus/compression]
default-compression-format='zip'

[org/gnome/nautilus/list-view]
default-zoom-level='medium'
use-tree-view=true

[org/gnome/nautilus/preferences]
default-folder-viewer='list-view'
migrated-gtk-settings=true
search-filter-time-type='last_modified'
search-view='list-view'

[org/gtk/gtk4/settings/file-chooser]
show-hidden=false
sort-directories-first=true

#-----------------
#-- Keybindings --
#-----------------

[org/gnome/desktop/wm/keybindings]
close=@as []
maximize=@as []
minimize=@as []
move-to-monitor-down=@as []
move-to-monitor-left=@as []
move-to-monitor-right=@as []
move-to-monitor-up=@as []
move-to-workspace-last=@as []
move-to-workspace-left=@as []
move-to-workspace-right=@as []
panel-run-dialog=['<Super><Shift>semicolon']
switch-applications-backward=@as []
switch-applications=@as []
switch-group-backward=@as []
switch-group=@as []
switch-input-source=['<Super>space']
switch-input-source-backward=['<Shift><Super>space']
switch-to-workspace-1=['<Super>1']
switch-to-workspace-2=['<Super>2']
switch-to-workspace-3=['<Super>3']
switch-to-workspace-4=['<Super>4']
switch-to-workspace-5=['<Super>5']
switch-to-workspace-6=['<Super>6']
switch-to-workspace-last=@as []
switch-to-workspace-left=@as []
switch-to-workspace-right=@as []
toggle-fullscreen=@as []
toggle-maximized=@as []
unmaximize=@as []
{{ range $i := untilStep 1 7 1 }}
move-to-workspace-{{ $i }}=['<Super><Shift>{{ $i }}']
switch-to-workspace-{{ $i }}=['<Super>{{ $i }}']
{{ end }}

[org/gnome/mutter/keybindings]
cancel-input-capture=@as []
toggle-tiled-left=@as []
toggle-tiled-right=@as []

[org/gnome/mutter/wayland/keybindings]
restore-shortcuts=@as []

[org/gnome/settings-daemon/plugins/media-keys]
email=@as []
home=['<Super>e']
rotate-video-lock-static=@as []
screensaver=['<Super><Shift>q']
www=['<Super>b']
custom-keybindings=['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/open-terminal/']

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/open-terminal]
name='Open terminal'
command='{{ .terminal }}'
binding='<Super>Return'

[org/gnome/shell/extensions/paperwm/keybindings]
activate-window-under-cursor=@as []
barf-out=['<Super>o']
barf-out-active=@as []
center-horizontally=@as []
center-vertically=@as []
close-window=['<Super>w']
cycle-height=['<Super>v']
cycle-height-backwards=['<Shift><Super>v']
cycle-width=['<Super>r']
cycle-width-backwards=['<Shift><Super>r']
drift-left=['<Shift><Super>braceleft']
drift-right=['<Shift><Super>braceright']
live-alt-tab=['<Super>comma']
live-alt-tab-backward=['<Super>period']
live-alt-tab-scratch=@as []
live-alt-tab-scratch-backward=@as []
move-down=['<Shift><Super>j']
move-down-workspace=@as []
move-left=['<Shift><Super>h']
move-monitor-above=['<Shift><Control><Super>k']
move-monitor-below=['<Shift><Control><Super>j']
move-monitor-left=['<Shift><Control><Super>h']
move-monitor-right=['<Shift><Control><Super>l']
move-previous-workspace=@as []
move-previous-workspace-backward=@as []
move-right=['<Shift><Super>l']
move-space-monitor-above=@as []
move-space-monitor-below=@as []
move-space-monitor-left=@as []
move-space-monitor-right=@as []
move-up=['<Shift><Super>k']
move-up-workspace=@as []
new-window=['<Super>n']
open-window-position-down=@as []
open-window-position-end=@as []
open-window-position-left=@as []
open-window-position-right=@as []
open-window-position-start=@as []
open-window-position-up=@as []
paper-toggle-fullscreen=['<Shift><Super>m']
previous-workspace=['<Super>Tab']
previous-workspace-backward=['<Shift><Super>Tab']
resize-h-dec=['<Shift><Super>underscore']
resize-h-inc=['<Shift><Super>plus']
resize-w-dec=['<Super>minus']
resize-w-inc=['<Super>equal']
slurp-in=['<Super>i']
swap-monitor-above=['<Shift><Super>Up']
swap-monitor-below=['<Shift><Super>Down']
swap-monitor-left=['<Shift><Super>Left']
swap-monitor-right=['<Shift><Super>Right']
switch-down=@as []
switch-down-loop=@as []
switch-down-or-else-workspace=@as []
switch-down-workspace=@as []
switch-down-workspace-from-all-monitors=@as []
switch-eighth=@as []
switch-eleventh=@as []
switch-fifth=@as []
switch-first=['<Super>Home']
switch-focus-mode=['<Super>c']
switch-fourth=@as []
switch-global-above=['<Super>k']
switch-global-below=['<Super>j']
switch-global-down=['<Super>j']
switch-global-left=['<Super>h']
switch-global-right=['<Super>l']
switch-global-up=['<Super>k']
switch-last=['<Shift><Super>End']
switch-left=@as []
switch-left-loop=@as []
switch-monitor-above=['<Control><Super>k']
switch-monitor-below=['<Control><Super>j']
switch-monitor-down=['<Control><Super>j']
switch-monitor-left=['<Control><Super>h']
switch-monitor-right=['<Control><Super>l']
switch-monitor-up=['<Control><Super>k']
switch-next=@as []
switch-next-loop=@as []
switch-ninth=@as []
switch-open-window-position=@as []
switch-previous=@as []
switch-previous-loop=@as []
switch-right=@as []
switch-right-loop=@as []
switch-second=@as []
switch-seventh=@as []
switch-sixth=@as []
switch-tenth=@as []
switch-third=@as []
switch-up=@as []
switch-up-loop=@as []
switch-up-or-else-workspace=@as []
switch-up-workspace=@as []
switch-up-workspace-from-all-monitors=@as []
take-window=['<Super>t']
toggle-maximize-width=['<Super>m']
toggle-position-bar=@as []
toggle-scratch=['<Super>g']
toggle-scratch-layer=['<Shift><Super>g']
toggle-scratch-window=@as []
toggle-top-and-position-bar=@as []
toggle-top-bar=@as []

[org/gnome/shell/keybindings]
focus-active-notification=@as []
shift-overview-down=@as []
shift-overview-up=@as []
toggle-application-view=@as ['<Super>a']
toggle-message-tray=@as []
toggle-overview=@as ['<Super>d']
toggle-quick-settings=@as []
{{ range $i := untilStep 1 7 1 }}
switch-to-application-{{ $i }}=@as []
{{ end }}

#----------
#-- Misc --
#----------

[org/gnome/desktop/datetime]
automatic-timezone=true

[org/gnome/desktop/default-applications/terminal]
exec='{{ .terminal }}'
exec-arg=''

[org/gnome/shell]
disable-user-extensions=false
disabled-extensions=@as []
enabled-extensions=['AlphabeticalAppGrid@stuarthayhurst', 'appindicatorsupport@rgcjonas.gmail.com', 'blur-my-shell@aunetx', 'caffeine@patapon.info', 'clipboard-history@alexsaveau.dev', 'paperwm@paperwm.github.com', 'steal-my-focus-window@steal-my-focus-window', 'switcher@landau.fi', 'Vitals@CoreCoding.com']

[org/gnome/shell/app-switcher]
current-workspace-only=true

[org/gnome/mutter]
attach-modal-dialogs=false
dynamic-workspaces=false
edge-tiling=false
overlay-key=''
workspaces-only-on-primary=false

[org/gnome/software]
download-updates=false
download-updates-notify=false

# vim:ft=ini
