{
  user = "{{ .user }}";
  home = "{{ .home }}";
  proxyEnabled = {{ .proxy.enabled }};
  torEnabled = {{ .tor.enabled }};
  geodatEnabled = {{ .geodat.enabled }};
  geodatIp = {{ .geodat.ip }};
  geodatDomain = {{ .geodat.domain }};
}
