{
  user = "{{ .user }}";
  home = "{{ .home }}";

  # Services
  ariaEnabled = {{ .aria.enabled }};
  torEnabled = {{ .tor.enabled }};

  proxyEnabled = {{ .proxy.enabled }};
  proxyBackend = "{{ .proxy.backend }}";

  geodatEnabled = {{ .geodat.enabled }};
}
