{
  "dns": {
    "hosts": {
      "dns.alidns.com": ["223.5.5.5", "223.6.6.6"],
      "cloudflare-dns.com": ["1.1.1.1", "1.0.0.1"],
      "doh.pub": ["119.29.29.29"]
    },
    "servers": [
      "fakedns",
      {
        "address": "https://cloudflare-dns.com/dns-query",
        "domains": ["geosite:geolocation-!cn"],
        "expectIPs": ["geoip:!cn"]
      },
      {
        "address": "https://dns.alidns.com/dns-query",
        "domains": ["geosite:cn"],
        "expectIPs": ["geoip:cn"],
        "skipFallback": true
      },
      {
        "address": "https://doh.pub/dns-query",
        "domains": ["geosite:cn"],
        "expectIPs": ["geoip:cn"],
        "skipFallback": true
      },
      {
        "address": "localhost",
        "skipFallback": true
      }
    ]
  }
}
