{
  "dns": {
    "hosts": {
      "dns.alidns.com": ["223.5.5.5", "223.6.6.6"],
      "cloudflare-dns.com": ["1.1.1.1", "1.0.0.1"],
      "doh.pub": ["119.29.29.29"]
    },
    "servers": [
      // {
      //   "address": "https://cloudflare-dns.com/dns-query",
      //   "domains": ["geosite:geolocation-!cn"]
      // },
      "fakedns",
      "https://dns.alidns.com/dns-query",
      "https://doh.pub/dns-query",
      "localhost"
    ]
  }
}
