{
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {{ range .proxy.routingRules }}
      {{ printf "%s," (toJson .) }}
      {{ end }}
      {
        "type": "field",
        "domain": ["geosite:category-ads-all"],
        "outboundTag": "block"
      },
      {
        "type": "field",
        "protocol": ["bittorrent"],
        "outboundTag": "block"
      },
      {
        "type": "field",
        "domain": [
          "domain:alidns.com",
          "domain:doh.hub"
        ],
        "outboundTag": "direct"
      },
      {
        "type": "field",
        "domain": ["geosite:cn", "geosite:private"],
        "outboundTag": "direct"
      },
      {
        "type": "field",
        "ip": ["geoip:cn", "geoip:private"],
        "outboundTag": "direct"
      },
      {
        "type": "field",
        "network": "tcp,udp",
        "outboundTag": "{{ .proxy.outbound }}"
      }
    ]
  }
}
