{
  "inbounds": [
    {
      "tag": "socks-in",
      "listen": "127.0.0.1",
      "port": {{ .proxy.socks }},
      "protocol": "socks",
      "settings": { "udp": true },
      "sniffing": {
        "enabled": true,
        "destOverride": ["fakedns+others"],
        "metadataOnly": false
      }
    },
    {
      "tag": "http-in",
      "listen": "127.0.0.1",
      "port": {{ .proxy.http }},
      "protocol": "http",
      "sniffing": {
        "enabled": true,
        "destOverride": ["fakedns+others"],
        "metadataOnly": false
      }
    }
  ]
}
