{
  "inbounds": [
    {
      "tag": "socks-in",
      "port": {{ .proxy.socks }},
      "protocol": "socks",
      "settings": { "udp": true }
    },
    {
      "tag": "http-in",
      "port": {{ .proxy.http }},
      "protocol": "http"
    }
  ]
}
