[package]
name = "{CRATE}"
version = "0.0.0"
authors = ["{{ .name }} <{{ .email }}>"]
license = "MIT OR Apache-2.0"
edition = "2021"
rust-version = "{MSRV}"

repository = "https://github.com/{{ .user }}/{CRATE}"
description = "MY AWESOME {CRATE}"
keywords = []
categories = []

# Enable some optimizations in binary crate
#[profile.release]
#lto = true
#codegen-units = 1
#strip = true
