[core]
	excludesfile = {{ .home }}/.gitignore
[init]
	defaultBranch = main
[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ .signingkey }}
[tag]
	forceSignAnnotated = true
[commit]
	gpgsign = true
[http]
	proxy = socks5h://127.0.0.1:{{ .proxy.socks }}
[https]
	proxy = socks5h://127.0.0.1:{{ .proxy.socks }}
[pull]
	rebase = true
[push]
	followTags = true
