# Many useful options are stolen from:
# - <https://github.com/tmux-plugins/tmux-sensible>
# - <https://gist.github.com/chadaustin/d4696e18217a7de9b2671549abcb54c4>
# - <https://github.com/aktau/dotfiles/blob/151bc71d7addd289a015e1be8f73214cdd0347ad/.tmux.conf>

#-- Appearance -----------------------------------------------------------------

set -g  default-terminal 'tmux-256color'
set -ga terminal-features ',*:RGB:usstyle' # 'usstyle' is required by Neovim

set -g cursor-style block # use block cursor in copy mode
set -g prompt-cursor-style bar

# Theme
set -g @base16-background dark
set -g @base16-border-lines rounded
set -g @base16-statusline on
set -g @base16-transparent off

#-- Sensible options -----------------------------------------------------------

set -g escape-time 0
set -g focus-events on
set -g history-limit 10000
set -g status-interval 5

set -g base-index 1
set -g pane-base-index 1
set -g aggressive-resize on
set -g renumber-windows on

set -g display-time 1000
set -g display-panes-time 800

set -g allow-set-title off
set -g set-titles on
set -g set-titles-string '#W'

# Monity bells of background panes
set -g monitor-bell on
set -g bell-action any
set -g visual-bell off


# Improve security
set -g allow-passthrough off
set -g set-clipboard external

#-- Plugins --------------------------------------------------------------------

set -g @base16-palette-path '#{@base16-palettes}/gruvbox-material.conf'
set -g @popup-autostart on
set -g @popup-id-format '{popup_name}@#{session_name}'
set -g @popup-id-format-by-cwd '{popup_name}@#{pane_current_path}'
set -g @popup-on-init 'nop'
set -g @continuum-save-interval 15

if -F "$TMUX_POPUP_SERVER" {
	set -g status off
	set -g exit-empty off
}

set -g @plugins '~/.tmux/plugins'
# Must be loaded before continuum, as it overrides the status options
run '#{@plugins}/tmux-base16/base16.tmux'
#{{ if ne .platform "termux" }}
run '#{@plugins}/tmux-resurrect/resurrect.tmux'
run '#{@plugins}/tmux-continuum/continuum.tmux'
#{{ end }}
# Must be loaded after continuum, as it disables autosave
run '#{@plugins}/tmux-toggle-popup/toggle-popup.tmux'

# Load keymaps
source ~/.tmux/keymaps.conf

# Restore previous session
if -F '#{&&:#{!=:#{@tmux-did-init},1},#{==:#{b:socket_path},default}}' {
	run '#{@resurrect-restore-script-path}'
	set -g @tmux-did-init 1
}

# vim:ft=tmux
