[settings]
api_key = {{ .wakatimeApiKey }}
proxy = socks5://127.0.0.1:{{ .proxy.port }}
hide_project_folder = true
hide_project_names = false
hide_branch_names = false
hide_file_names = true
include_only_with_project_file = true
exclude_unknown_project = true
exclude =
  /private/
  /draft/
