#{{ if .proxy.enabled }}
[http]
proxy = "socks5h://127.0.0.1:{{ .proxy.socksPort }}"
[https]
proxy = "socks5h://127.0.0.1:{{ .proxy.socksPort }}"
#{{ end }}

[net]
git-fetch-with-cli = true

[registries.crates-io]
protocol = "sparse"

[build]
rustflags = ["-C", "link-arg=-fuse-ld=mold"]

# vim:ft=toml
