[http]
proxy = "http://127.0.0.1:{{ .proxy.http }}"

[https]
proxy = "http://127.0.0.1:{{ .proxy.http }}"

[registries.crates-io]
protocol = "sparse"

[target.x86_64-unknown-linux-gnu]
rustflags = ["-Clink-arg=-fuse-ld=mold"]
