[http]
proxy = "socks5h://127.0.0.1:{{ .proxy.socksPort }}"

[https]
proxy = "socks5h://127.0.0.1:{{ .proxy.socksPort }}"

[net]
git-fetch-with-cli = true

[registries.crates-io]
protocol = "sparse"

[build]
rustc-wrapper = "sccache"

[target.x86_64-unknown-linux-gnu]
rustflags = ["-Clink-arg=-fuse-ld=mold"]
