{
  "dns": {
    "servers": [
      { "tag": "local", "address": "local" },
      {
        "tag": "alidns",
        "address": "https://dns.alidns.com/dns-query",
        "address_resolver": "local"
      },
      {
        "tag": "dnspub",
        "address": "https://doh.pub/dns-query",
        "address_resolver": "local"
      }
    ],
    "rules": [
      {{ range .proxy.dnsRules }}
      {{ printf "%s," (toJson .) }}
      {{ end }}
      { "outbound": ["direct"], "server": "dnspub" }
    ],
    "final": "local",
    "strategy": "prefer_ipv4"
  }
}
