{
  "inbounds": [
    {
      "tag": "mixed-in",
      "type": "mixed",
      "listen": "::",
      "listen_port": {{ .proxy.port }},

      "sniff": true,
      "sniff_override_destination": true
    }
  ]
}
