{
  "outbounds": [
    { "tag": "block", "type": "block" },
    { "tag": "direct", "type": "direct" },
    { "tag": "direct_local", "type": "direct" },
    {
      "tag": "proxy",
      "type": "selector",
      "outbounds": {{ toJson .proxy.outbounds }},
      "default": "{{ .proxy.defaultOutbound }}",
      "interrupt_exist_connections": false
    }
  ]
}
